{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="my-4">Catálogo de Productos</h1>
    
    <!-- Filtros y Búsqueda -->
    <form method="GET" action="{% url 'products' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar productos..." value="{{ request.GET.q }}">
            <select name="category" class="form-select">
                <option value="">Todas las categorías</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <!-- Lista de Productos -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.image %}  <!-- Verifica si el producto tiene una imagen -->
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'images/default_image.png' %}" class="card-img-top" alt="Imagen predeterminada">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="number" name="quantity" class="form-control" value="1" min="1" max="100">
                            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}