{% extends 'layouts/base.html' %}

{% block content %}
<section class="container">
    <h1 class="my-4">Mi Perfil</h1>
    <h2>Historial de Pedidos</h2>
    {% if orders %}
    <ul>
        {% for order in orders %}
        <li>
            <strong>Pedido #{{ order.id }}</strong> - Total: ${{ order.total }}
            <ul>
                {% for item in order.items.all %}
                <li>{{ item.quantity }} x {{ item.product.name }} - ${{ item.get_total }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tienes pedidos realizados.</p>
    {% endif %}
</section>
{% endblock %}