{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
<section class="shadow-wrap">
    <section class="form-wrap">
        <h2>Iniciar sesión</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="id_username">Usuario:</label>
            <input type="text" id="id_username" name="username">
            
            <label for="id_password">Contraseña:</label>
            <input type="password" id="id_password" name="password">

            <button type="submit">Iniciar sesión</button>
        </form>
    </section>
</section>
{% endblock %}
