{% extends 'layouts/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="shadow-wrap">
        <section class="form-wrap">
            <h3>Registrate</h3>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
            {% if messages %}
                <ul class="errorlist">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a class="signup-link" href="{% url 'signin' %}">Ya tienes una cuenta? Inicia sesión</a>
        </section>
    </section>
{% endblock %}
